h1, main, h2 { color: rgb(255, 255, 255);
}

head { color: rgb(255, 255, 255);
}
main,html,table {color: aqua;
}


.navCenter {
    display: flex;
    justify-content: center;
}
 footer {
     margin-top: 2em;
     padding: 1em;
     width: 100%;
     background: darkslategrey;
     color: azure;
     text-align: center;
 }
header {
    color: rgb(158, 195, 195);

}
body {
    background: rgb(26, 117, 228);
}
